p {
    color:rgb(0, 81, 255);
    font-size: 18px;
}
h1{
    color:red;
    font-size: 18px;
}
h2{
    color:green;
    font-size: 18px;
}

p::before {content: "•"; color:rgb(0, 81, 255);;
    display: inline-block; width: 1em;
    margin-left: 0.5em}

h1::before {content: "•"; color:red;
    display: inline-block; width: 1em;
    margin-left: 0.5em}

h2::before {content: "•"; color:green;
    display: inline-block; width: 1em;
    margin-left: 0.5em}